p{
    color: darkslateblue;
    font-style: normal;
    font-family: sans-serif;
}
dl{
    color: blue;
    font-family: sans-serif;
}

dl dd{
    font-family: sans-serif;
    color: royalblue;
}
h3{
    font-family: sans-serif;
    font-size: 1em;
    color:darkblue;
}
h2{
    font-family: sans-serif;
    color: darkblue;
}
ul.midia{
    color: darkgreen;
    font-family: sans-serif;
}